body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Start_Title {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.code_sub {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.python_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.C#_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.GM_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.CSS_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.HTML_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.javascript_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.javascript_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.Game_labels {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.Roblox_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.Unity_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}
.Godot_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}

.Gamemaker_label {
    color: rgb(0, 255, 42);
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
}


